@page "/about-us"

<div class="mb-10">
    <div class="text-center mb-15">
        <h3 class="text-gray-900 mb-5">THƯƠNG HIỆU ĐƯỢC QUẢN LÝ BỞI</h3>
        <h1 class="fs-2hx text-gray-900 mb-5">DEKS AIR VIỆT NAM</h1>
        <div class="fs-5 text-muted fw-semibold mx-10">
            Là một thương hiệu lữ hành du lịch được quản lý và điều hành bởi DEKS AIR VIỆT NAM, công ty hoạt động trong lĩnh vực dịch vụ tổng đại lý hãng hàng không và du lịch lữ hành, là thành viên của Tập đoàn DEKS AIR được thành lập từ năm 1975 hoạt động tại khu vực Châu Á – Thái Bình Dương.
        </div>
    </div>
    <div class="swiper th-slider slider-drag-wrap" id="packageSlide"
         data-slider-options='{"effect":"cards", "breakpoints":{"0":{"slidesPerView":1},"1200":{"slidesPerView":"2"}}}'>
        <div class="swiper-wrapper">
            @for (var i = 0; i < 33; i++)
            {
                <div class="swiper-slide">
                    <div class="box-img global-img">
                        <img src="img/deks/@(i).png" alt="Image"></div>
                </div>
            }
        </div>
    </div>
</div>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("KTComponents.init");
            await JsRuntime.InvokeVoidAsync("initTheme");
        }
    }
}