@page "/agent/ticket"
<SectionContent SectionName="@NavConstants.TbLeft">
    <Breadcrumb Slash="true"></Breadcrumb>
    <Breadcrumb>Tickets</Breadcrumb>
</SectionContent>

<div class="container">
    <SearchComponent/>
</div>
<Feature4Step/>
<div class="h-80px"></div>