<div class="preloader">
    <div class="preloader-inner">
        <img src="img/logo.svg" class="w-50" alt="">
    </div>
    <div class="th-preloader">
        <div class="animation-preloader">
            <div class="txt-loading">
                <span preloader-text="D" class="characters">D </span>
                <span preloader-text="T" class="characters">T </span>
                <span preloader-text="O" class="characters">O </span>
                <span preloader-text="U" class="characters">U </span>
                <span preloader-text="R" class="characters">R </span>
                <span preloader-text="." class="characters">. </span>
                <span preloader-text="V" class="characters">V </span>
                <span preloader-text="N" class="characters">N </span>
            </div>
        </div>
    </div>
</div>