<div aria-label="Loading screen" class="loading-screen">
    <div class="loading-overlay"></div>
    <div aria-label="Loading modal" class="loading-modal">
        <div class="loading-body">
            <div class="train-loader-component bg-smoke">
                <div class="train-loader-bg">
                    <svg viewBox="212.4000244140625 403 187.29998779296875 57.79998779296875" width="100%" height="100%"
                         xmlns="http://www.w3.org/2000/svg">
                        <path class="st5"
                              d="M394.8,427.6v5.2h-3.5v3.6h-3.5v4.2l-4.6,5v-10.1h-3.3v-5.6h-2.6v4.6h-2.3v-12.8l-5.1-5.5l-3.9,4.2v14.4h-2.3&#10;&#9;&#9;l-1.9,2.1v4.2h-4.8v-3h-3.3v-7.7h-15.2v-5.6h-3.5v5.2h-2.6v5.7l-3.9,14.1h-4.1v-4.2h-3.1v3.8h-3v-2.8l-1.7-1v-13.9h-2.4v-4.2h-1.5&#10;&#9;&#9;v4.8h-4.2v4.6l-1.9,2v-14.9h-2v-3.4h-3.1v-2.8h-3.1v2.8h-1.8v29.7l-4.2-4.5v-15.3h-1.8v-3.8h-2.4v2.8h-3v3H284v6.7h-1.9v3.8h-2.8&#10;&#9;&#9;v-5h-0.4v-17.6h-13v15.6h-2.2v-8.3h-7.8v8.3h-2.6v-12.2h-2.3l-1.2-1.3h-2.8v-2.1h-2.3l-1.6,1.7h-3.8v4.9l-1.4,1.5v-12.3l-1.1-1.6&#10;&#9;&#9;V403h-4.8l-0.9,5h-2.5v5l-1.2,1.3v13L226,429l-1.5-1.6v-2h-2.2v-1.2h-2v-2h-2v3.2h-3.5v2.8h-2.2c0,0,0.7,13.8-0.2,32.6h187.3v-33.2&#10;&#9;&#9;H394.8z"
                              style="fill-rule: evenodd; clip-rule: evenodd; fill: #004B96; opacity: 1;"
                              transform="matrix(1, 0, 0, 1, 0, 0)"/>
                    </svg>s

                </div>
                <div class="train-loader-train">
                    <div class="train-move">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 261.98 58.5" width="100%" height="100%">
                            <g id="Layer_5" data-name="Layer 5">
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: #ffaf03; fill-rule: nonzero; opacity: 1;" class="cls-1"
                                      d="M253.57,53.27h-101a4.87,4.87,0,0,1-4.87-4.88V30.7A5.76,5.76,0,0,1,153.46,25h84.61a4.35,4.35,0,0,1,3.44,1.69L251,38.87l5.75,7.43A4.3,4.3,0,0,1,253.57,53.27Z"></path>
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: #ffaf03; fill-rule: nonzero; opacity: 1;" class="cls-2"
                                      d="M250.87,38.76H234a2.1,2.1,0,0,1-2.1-2.1v-.59a9.54,9.54,0,0,1,9.54-9.54h0Z"></path>
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: #ffaf03; fill-rule: nonzero; opacity: 1;" class="cls-2"
                                      d="M187.75,53.27V37a4.2,4.2,0,0,1,4.2-4.2h6.53a4.2,4.2,0,0,1,4.2,4.2V53.27Z"></path>
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: #ffaf03; fill-rule: nonzero; opacity: 1;" class="cls-2"
                                      d="M160.09,53.27V37a4.2,4.2,0,0,1,4.2-4.2h6.53A4.2,4.2,0,0,1,175,37V53.27Z"></path>
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: #ffaf03; fill-rule: nonzero; opacity: 1;" class="cls-1"
                                      d="M131.16,53.27l7.51-.11a4.87,4.87,0,0,0,4.87-4.88V30.59a5.75,5.75,0,0,0-5.75-5.75l-51.2.05H82a5.75,5.75,0,0,0-5.75,5.75V48.33a4.87,4.87,0,0,0,4.87,4.88h35.16Z"></path>
                                <g class="cls-3">
                                    <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: #ffaf03; fill-rule: nonzero; opacity: 1;" class="cls-4"
                                          d="M88.57,53.16V36.84a4.2,4.2,0,0,1,4.2-4.2H99.3a4.2,4.2,0,0,1,4.2,4.2V53.16Z"></path>
                                    <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: #ffaf03; fill-rule: nonzero; opacity: 1;" class="cls-4"
                                          d="M116.23,53.22V36.9a4.2,4.2,0,0,1,4.2-4.2H127a4.2,4.2,0,0,1,4.2,4.2V53.22Z"></path>
                                </g>
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: #ffaf03; fill-rule: nonzero; opacity: 1;" class="cls-1"
                                      d="M59.64,53.27l7.51-.11A4.87,4.87,0,0,0,72,48.28V30.59a5.75,5.75,0,0,0-5.75-5.75l-51.2.05H10.43a5.75,5.75,0,0,0-5.75,5.75V48.33a4.87,4.87,0,0,0,4.87,4.88H44.71Z"></path>
                                <g class="cls-3">
                                    <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: #ffaf03; fill-rule: nonzero; opacity: 1;" class="cls-4"
                                          d="M17.05,53.16V36.84a4.2,4.2,0,0,1,4.2-4.2h6.53a4.2,4.2,0,0,1,4.2,4.2V53.16Z"></path>
                                    <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: #ffaf03; fill-rule: nonzero; opacity: 1;" class="cls-4"
                                          d="M44.71,53.22V36.9a4.2,4.2,0,0,1,4.2-4.2h6.53a4.2,4.2,0,0,1,4.2,4.2V53.22Z"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>